.form-emp {
    display: flex;
    gap: 10px;
}

.form-emp mat-form-field {
    width: 100%;
    padding-top: 10px;
}

#form-1 mat-form-field{
    width: 100%;
}

.head-btn {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.container {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    
}